@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --outer-box-padding: 0.5rem; /* left box, right box, space between blocks */
  --block-padding: 1.2rem;
  --button-padding: 0.9rem;
  --card-padding: 1.1rem;
  --icon-heading-gap: 1.2rem;
  --bg-grey: #121212;
  --block-border-radius: 0.3rem;
  --bg-card-gradient: linear-gradient(
    0deg,
    #181818 0%,
    #151515 50%,
    #181818 100%
  );
  --bg-card-gradient-active: linear-gradient(
    0deg,
    #282828 0%,
    #222222 50%,
    #282828 100%
  );
}

body {
  background-color: black;
  color: white;
  font-family: Plus Jakarta Sans, Arial, sans-serif;
}

h2 {
  font-size: 1rem;
}

button {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.left-right-container {
  display: flex;
  flex-grow: 1;
}

.left {
  width: 25vw;
  padding: 0.5rem 0.25rem 0 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.home {
  /* margin: 1.2rem; */
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: var(--block-padding);
  border-radius: var(--block-border-radius);
  font-weight: bold;
  /* color: rgba(255, 255, 255, 0.6); */
  background-color: var(--bg-grey);
}

.home:hover {
  cursor: pointer;
}

.home ul {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.home ul li {
  display: flex;
  gap: var(--icon-heading-gap);
  align-items: center;
  width: 1.4rem;
  list-style: none;
}

.library {
  flex-grow: 1;
  padding: var(--block-padding);
  /* color: rgba(255, 255, 255, 0.6); */
  font-weight: bold;
  border-radius: var(--block-border-radius);
  /* min-height: 50vh; */
  background-color: var(--bg-grey);
}

.your-library-heading {
  display: flex;
  align-items: center;
  gap: var(--icon-heading-gap);
  cursor: pointer;
  margin-bottom: 1.5em;
}

.your-library-heading img {
  width: 1.4rem;
}

.song-list {
  height: 50%;
  overflow: a;
}

.song-list li {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.7rem 2.5rem 0.7rem 0.7rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border-radius: 0.4rem;
  margin: 1rem 0;
  transition: background-color 0.25s ease;
}

.song-list li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  /* box-shadow: 0 8px 32px 0 rgba(31, 135, 79, 0.37); */
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.song-list li:hover .song-play-btn,
.song-list li:active .song-play-btn {
  visibility: visible;
  opacity: 1;
}

.song-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.3rem;
}

.song-name {
  font-size: 0.8rem;
  font-weight: 400;
}

.song-artist {
  font-size: 0.7rem;
}

.song-play-btn {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  border: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease, visibility 0.5s ease;
}

.song-list li:hover .song-play-btn:hover {
  opacity: 0.7;
}

.song-play-btn-svg {
  width: 45%;
}

/* Right side */

.right {
  width: 75vw;
  padding: 0.5rem 0.5rem 0 0.25rem;
  position: relative;
}

.right-content {
  display: flex;
  flex-direction: column;
  /* background-color: #121212; */

  height: 100%;
  border-radius: var(--block-border-radius);
  /* position: relative; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #101010;
  padding: 0.5rem;
  height: 4rem;
  border-top-left-radius: var(--block-border-radius);
  border-top-right-radius: var(--block-border-radius);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forward-button {
  /* opacity: 60%; */
  /* border: 1px solid white;
  border-radius: 0.3rem; */
}

.back-button {
  /* opacity: 60%; */
  margin-left: 1rem;
  margin-right: 0.5rem;
  /* border: 1px solid white;
  border-radius: 0.3rem; */
}

.forward-button:hover,
.back-button:hover .forward-button:active,
.back-button:active {
  cursor: pointer;
}

.signup-btn {
  border: none;
  background-color: inherit;
  padding: var(--button-padding);
  color: rgba(255, 255, 255, 0.6);
  width: 7rem;
  border-radius: 6rem;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 0.95rem;
  letter-spacing: 0.3px;
  transition: transform 0.03s ease, color 0.03s ease;
  transform-origin: center;
}

.signup-btn:hover,
.signup-btn:active {
  transform: scale(1.02);
  color: white;
}

.login-btn {
  border: none;
  background-color: white;
  padding: var(--button-padding);
  color: #101010;
  width: 7rem;
  border-radius: 6rem;
  font-weight: bold;
  font-size: 0.95rem;
  letter-spacing: 0.3px;
  transition: transform 0.03s ease;
  transform-origin: center;
}

.login-btn:hover,
.login-btn:active {
  transform: scale(1.03);
}

.playlists {
  padding: var(--block-padding);
  background: linear-gradient(to bottom, #1f1f1f, #121212 30%);
  flex-grow: 1;
  border-bottom-left-radius: var(--block-border-radius);
  border-bottom-right-radius: var(--block-border-radius);
}

.playlists h2 {
  font-size: 1.35rem;
}

.card-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  overflow-y: scroll;
  max-height: 70vh;
}

.playlists .card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 13.5rem;
  height: 18rem;
  padding: var(--card-padding);
  background: var(--bg-card-gradient);
  border-radius: 0.4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.playlists .card img {
  width: 100%;
  object-fit: contain;
}

.playlists .card p {
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* line-clamp: 2; */
}

.playlists .card h3 {
  font-size: 1rem;
}

.playlists .play {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5.8rem;
  right: 1.4rem;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.playlists .card:hover,
.playlists .card:active {
  background: var(--bg-card-gradient-active);
  cursor: pointer;
}

.playlists .card:hover .play {
  opacity: 1;
}

.playlists .play:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.playlists .play:hover svg {
  fill: brightness(120%); /* Increase brightness by 10% */
}

.music-controls {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  gap: 7px;
  /* position: sticky; */
  width: 100%;
  padding: 0 1rem;
  background-color: black;
  min-height: 6rem;
}

/* Track name */
.song-info {
  color: white;
  height: 100%;
  /* align-self: center;
  justify-self: center; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-left: 1rem;
  /* justify-self: center; */
}

.control-btns-seekbar-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.music-control-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.music-controls .prev-song-btn,
.music-controls .next-song-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border: none;
  background: none;
  transition: transform 0.1s ease;
}

.prev-song-btn-svg,
.next-song-btn-svg {
  width: 50%;
}

.prev-song-btn:hover .prev-song-btn-svg,
.prev-song-btn:hover .prev-song-btn-svg,
.next-song-btn:active .next-song-btn-svg,
.next-song-btn:active .next-song-btn-svg {
  fill: #ffffff;
}

.music-controls .play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: white;
  border: none;
  transition: transform 0.1s ease;
}

.music-controls .play-btn:hover,
.music-controls .play-btn:active {
  transform: scale(1.05);
}

.play-btn-svg {
  width: 45%;
}

.seekbar-song-time-container {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  width: 70%;
  max-width: 700px;
}

.song-time {
  color: white;
  font-size: 0.8rem;
  margin-right: 0.5em;
  width: 4rem;
  text-align: center;
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.2s ease;
}

.song-duration {
  color: white;
  font-size: 0.8rem;
  margin-left: 0.5em;
  width: 4rem;
  text-align: center;
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.2s ease;
}

.seekbar {
  position: relative;
  margin: 0 auto;
  height: 6px;
  width: 100%;
  /* width: 20px; */
  /* max-width: 700px; */
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  cursor: pointer;
}

.seekbar-progress {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  transition: width 0.3s ease;
}

.seekbar:hover .seekbar-progress {
  background-color: #1db954;
}
